<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Mon blog</h1>
        <h2>Mes posts</h2>
        <ul class="list-group">
            <app-post-list-component  *ngFor="let postlistcomponent of postlistcomponents"
                           [PostListComponentTitle]="postlistcomponent.title"
                           [PostListComponentContent]="postlistcomponent.content"
                           [PostListComponentLoveIts]="postlistcomponent.loveIts"
                           [PostListComppnentCreated_at]="postlistcomponent.created_at">
            </app-post-list-component>
          </ul>
    </div>
  </div>
</div>